<!-- Begin no products -->
<div class="clearfix helper-section">

  <div class="note helper-note helper-all-products">
    <i class="icon-products helper-icon"></i>
    <h3>This page will show all of your store's products</h3>
    <p>There are no products yet, but once you begin adding them they will show up here regardless if they are in a collection.</p>
    <p><a href="/admin/products/new" class="admin-btn-primary">Add a product</a><a class="secondary-action" href="/products/example-product">View a sample product ›</a></p>
  </div>

  <div class="helper-content clearfix">

    <div class="row products">
      <div class="product span4">
        <div class="image">
          <img src="{{ 'product-1.jpg' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">Example Product title </h4>
          <span class="price">
            {{ '8499' | money }}
          </span>
        </div>
      </div>
      <div class="product span4 ">
        <div class="image">
          <img src="{{ 'product-2.jpg' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">Example Product title </h4>
          <span class="price">
            {{ '5999' | money }}
          </span>
        </div>
      </div>
      <div class="product span4">
        <div class="image">
          <img src="{{ 'product-3.jpg' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">Example Product title </h4>
          <span class="price">
            {{ '2999' | money }}
          </span>
        </div>
      </div>
      <div style="clear:both;"></div>
      <div class="product span4">
        <div class="image">
          <img src="{{ 'product-4.jpg' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">Example Product title </h4>
          <span class="price">
            {{ '8499' | money }}
          </span>
        </div>
      </div>
      <div class="product span4 ">
        <div class="image">
          <img src="{{ 'product-5.jpg' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">Example Product title </h4>
          <span class="price">
            {{ '5999' | money }}
          </span>
        </div>
      </div>
      <div class="product span4">
        <div class="image">
          <img src="{{ 'product-6.jpg' | asset_url }}" alt="Example product" />
        </div>
        <div class="details">
          <h4 class="title">Example Product title </h4>
          <span class="price">
            {{ '2999' | money }}
          </span>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>

  </div>
</div>
<!-- End no products -->
